name: Create swift packages
description: Create swift packages

runs:
  using: "composite"
  steps:
    - uses: ./.github/workflows/actions/prepare
    - name: Create Swift Package
      shell: bash
      run: ./gradlew createSwiftPackage
    - name: Remove zips
      shell: bash
      run: rm */build/swiftpackage/*.zip
    - uses: actions/upload-artifact@v3
      with:
        name: oidc-swiftpackages
        path: oidc-*/build/swiftpackage/*